body{
  background-image:
  url('./gifs/tileBG.gif' );
  opacity:.5,
   1;
  background-position: cover;
  background-size:cover;
  background-repeat: no-repeat;
}

.logoFloss {

  
}

.navi {
  position: absolute;
  z-index: 1;
}
