.App {
  text-align: center;
}

.App-logo {
  height: 65vmin;
  pointer-events: auto;
  filter: invert(100%);
  opacity: .50;
  position: relative;
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
  }


  @-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home {

  background-image: url('./nebula.gif'),
  url('./nebula.gif');
  background-position: cover;
  background-size:cover;
  background-repeat:repeat;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;

  background-attachment:fixed;
  background-position: center;
}

/* html {
  background-image: url('./galaxy1.jpg');
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
} */

.body{
  font-family: 'Barriecito', ;
}
