body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Barriecito';
  src: local('Barriecito'), url(./fonts//Barriecito-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Green Fuz V1';
  src: local('Green Fuz V1'), url(./fonts/Green Fuz V1.ttf) format('truetype');
}

@font-face {
  font-family: 'Homeworld Translator ';
  src: local('Homeworld Translator'), url(./fonts/homewt.ttf) format('truetype');
}

@font-face {
  font-family: 'Vaporized';
  src: local('Vaporized'), url(./fonts/vaporizedbb_reg.otf) format('truetype');
}

/* New Fonts... */


@font-face {
  font-family: 'Buried Before';
  src: local('Buried Before'), url(./fonts/BuriedBeforeBB_Reg.otf) format('truetype');
}

@font-face {
  font-family: 'Buried Before Bugs';
  src: local('Buried Before Bugs'), url(./fonts/BuriedBeforeBugsBB_Reg.otf) format('truetype');
}

@font-face {
  font-family: 'Trash Cinema Ital';
  src: local('Trash Cinema Ital'), url(./fonts/TrashCinemaBB_ital.otf) format('truetype');
}

@font-face {
  font-family: 'Trash Cinema';
  src: local('Trash Cinema'), url(./fonts/TrashCinemaBB.otf) format('truetype');
}

@font-face {
  font-family: 'Dark Arts';
  src: local('Dark Arts'), url(./fonts/DARKAB__.TTF) format('truetype');
}

@font-face {
  font-family: 'Wretched Remains';
  src: local('Wretched Remains'), url(./fonts/WretchedRemainsBB.otf) format('truetype');
}

@font-face {
  font-family: 'Inhuman';
  src: local('Inhuman'), url(./fonts/InhumanBB.otf) format('truetype');
}

@font-face {
  font-family: 'Umberto';
  src: local('Umberto'), url(./fonts/umberto.ttf) format('truetype');
}

@font-face {
  font-family: 'Sanitarium';
  src: local('Sanitarium'), url(./fonts/SanitariumBB.otf) format('truetype');
}

@font-face {
  font-family: 'Destroy Earth';
  src: local('Destroy Earth'), url(./fonts/DestroyEarthBB.otf) format('truetype');
}

@font-face {
  font-family: 'Destroy Earth Rough';
  src: local('Destroy Earth Rough'), url(./fonts/DestroyEarthRoughBB.otf) format('truetype');
}
