body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Barriecito';
  src: local('Barriecito'), url(./fonts//Barriecito-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Green Fuz V1';
  src: local('Green Fuz V1'), url(./fonts/Green Fuz V1.ttf) format('truetype');
}

@font-face {
  font-family: 'Homeworld Translator ';
  src: local('Homeworld Translator'), url(./fonts/homewt.ttf) format('truetype');
}

@font-face {
  font-family: 'Vaporized';
  src: local('Vaporized'), url(./fonts/vaporizedbb_reg.otf) format('truetype');
}
